        ##############################
### MCU + Pi temp control + electronics bay
        ##############################

[temperature_fan RPi4_fan]
pin: PD12
sensor_type: temperature_host
control: watermark
min_temp: 0
max_temp: 70
max_speed: 1.0
min_speed: 0.2
kick_start_time: 0.5

[temperature_fan octopus_fan]
pin: PD14
sensor_type: temperature_mcu
control: watermark
min_temp: 20
max_temp: 70
min_speed: 0.5
max_speed: 0.6
cycle_time: 0.010
target_temp:35

#[fan_generic electronics_fan]
# pin: PD14
# max_power: 0.3
# kick_start_time: 0.5

# [delayed_gcode electronics_fans_init]
# initial_duration: 1
# gcode:
#     SET_FAN_SPEED FAN=electronics_fans SPEED=1.0

      #############################
###### BED + chamber  
      #############################

[fan_generic Bed_Fans]
pin:PD15 
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
# off_below: 0.3

[output_pin DISABLE_BED_FANS]
pin:PB11

[temperature_fan chamber]
pin:PE5 # <<<<<<<< ADD YOUR OWN PIN HERE
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5
cycle_time:0.01
off_below:0.1
sensor_type: Generic 3950 # <<<<<<<< ADD YOUR OWN PIN HERE
sensor_pin:  PF4 # <<<<<<<< ADD YOUR OWN PIN HERE
min_temp: 5
max_temp: 70
target_temp: 50
control: pid
pid_kp: 35.5
pid_ki: 1.5
pid_kd: 40
max_speed: 1.0
min_speed: 0.0
gcode_id: C

###########################