[exclude_object]
[include mainsail.cfg]
[include My_Macros.cfg]
[include timelapse.cfg]
[include speed-test.cfg]
[include sfs.cfg]
[include fans.cfg]
[include eddy.cfg]
[include ./Demon_Klipper_Essentials_Unified/*.cfg]
[include ./Demon_User_Files/*.cfg]
[include ./Demon_Klipper_Essentials_Unified/Other_Files/Demon_User_Files_Updater/Demon_User_Files_Handler_v*.cfg]
[include KAMP_LiTE/*.cfg]
# [include KLICKY/klicky-probe.cfg]
[include Heat_Soak.cfg]
##########################################

######  DEMON ###############
[save_variables]
filename = ~/demon_vars.cfg
[force_move]
enable_force_move: True

[idle_timeout]
gcode:
    _DEMON_IDLE_TIMEOUT
timeout: 3600

[led Printer_Lights]
white_pin: PA8 #<<<<<<<< ADD YOUR OWN PIN
cycle_time: 0.0010
initial_WHITE: 0.5

##########################################

[mcu EBBCan]
canbus_uuid: 82a26f3a56ef 

[mcu]
canbus_uuid:ac9fd2f6e3d0

[printer]
kinematics: corexy
max_velocity: 800  
max_accel: 23000    			#Max 4000
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

##################################
# TOOLHEAD
##################################

[extruder]
##############
#   PINS
############
step_pin: !EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
###############
#   TOOL CONFIG
################
### _ _ _ SHERPA MINI _ _ _ ###
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 22.67895
gear_ratio: 50:10
pressure_advance: 0.022
pressure_advance_smooth_time: 0.04
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 350
min_extrude_temp:185
filament_diameter: 1.750
nozzle_diameter: 0.400
max_extrude_only_distance: 500
max_extrude_only_accel: 600
max_extrude_only_distance: 500.0
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.65
hold_current: 0.6
interpolate:False 
stealthchop_threshold: 999999

[firmware_retraction]
retract_length: 0.45         
retract_speed: 40           # Speed of retraction (mm/s).
unretract_extra_length: 0   # Additional length to add on unretract.
unretract_speed: 40         # Speed of unretraction (mm/s).

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0
fan_speed: 0.4

#[neopixel hotend_rgb]
#pin: EBBCan:PD3

##################################
# A/B MOTORS
##################################

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: EBBCan:PB6
position_min: 0
position_endstop: 306
position_max: 306
homing_speed: 60   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: True
run_current: 1.4
# sense_resistor: 0.110
# stealthchop_threshold: 999999

# [tmc5160 stepper_x]
# cs_pin: PC4
# run_current: 1.400
# # hold_current: 0.500
# # stealthchop_threshold: 10000
# spi_software_mosi_pin: PA7
# spi_software_miso_pin: PA6
# spi_software_sclk_pin: PA5

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200
endstop_pin: PG6
position_endstop: 300
position_min: -30
position_max: 300
homing_speed: 50
homing_retract_dist: 5

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: True
run_current: 1.4
# sense_resistor: 0.110
# stealthchop_threshold: 999999

# [tmc5160 stepper_y]
# cs_pin: PD11
# run_current: 1.400
# # hold_current: 0.500
# # stealthchop_threshold: 10000
# spi_software_mosi_pin: PA7
# spi_software_miso_pin: PA6
# spi_software_sclk_pin: PA5

[adxl345]
cs_pin: EBBCan: PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,y,z

[resonance_tester]
probe_points: 150, 150, 20
accel_chip: adxl345

############################################
# z SYSTEM
############################################
##  Z0 Stepper - Front Left
##  Connected to MOTOR_5
[stepper_z]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 8    
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 350
position_min: -2.5
homing_retract_dist: 0

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PE4
run_current: 0.65
        #####################################
##  Z1 Stepper - Rear Center MOTOR_6
[stepper_z1]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
rotation_distance: 8  
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PE1
run_current: 0.65
      ###############################################
##  Z2 Stepper - Front Right
##  Connected to MOTOR_7
[stepper_z2]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
rotation_distance: 4  
microsteps: 16

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PD3
run_current: 0.65

##################################################
######## BED ######
##################################################


[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead
## Uncomment below for 300mm build
z_positions:
   -50, 18
   150, 300
   300, 18
points:
   10, 10
   150, 270
   270, 10
speed: 200
horizontal_move_z: 2
retries: 10
retry_tolerance: 0.0075

[bed_mesh]
horizontal_move_z: 2
speed: 350
mesh_min: 10, 30  # modify these according to the below guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 280, 280 # modify these according to the below guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 25, 25
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
adaptive_margin: 5
scan_overshoot: 3  # uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.

[bed_screws]
screw1: 30, 50
screw2: 290, 50
screw3: 290, 280
screw4: 30, 280

[axis_twist_compensation]
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 3
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 20
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position.
calibrate_end_x: 280
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position.
calibrate_y: 150
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter is recommended to
#   be near the center of the bed

# For Y-axis twist compensation, specify the following parameters:
calibrate_start_y: 20 #...
#   Defines the minimum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the starting
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_end_y: 280 #...
#   Defines the maximum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the ending
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_x: 150 #...
#   Defines the X coordinate of the calibration for Y axis twist compensation
#   This should be the X coordinate that positions the nozzle during the
#   calibration process for Y axis twist compensation. This parameter must be
#   provided and is recommended to be near the center of the bed.


#########################################
########### BED #########################
#########################################
[heater_bed]
heater_pin: PA0
sensor_type:Generic 3950
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769
##########################################


# ##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
# ##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
# ##  If max_power is greater than 1.0, use 1.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.375
#*# pid_ki = 1.426
#*# pid_kd = 131.408
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.507
#*# pid_ki = 3.279
#*# pid_kd = 279.087
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 94.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 52.0
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUKKjceQWwfY/esW4bIUP/z+0BclnZpXoP5GpuRIpB9s/PuOndUN60T+IJs2grcCvvy3azqsXArG/pk041LtX0z8fSVPcdrO6P16TgxqvIbu/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQevV2nhvslD4G/ON4RhWVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQl7elKAeiG0DrCAstGCsLQKUHLB+JJ/4/CPU/brYKBEDkerJfsUTkvwd29UIcrxjAfw4g5tUVBkD6ZMwywb0kQBhYv4kkuvK/Ughc1tefE8CUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDENDjxNvFE5U+WqRXgi0flT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BOj8Ct6QmVPrQNussrSRE+c4qFNH35AL5nOvI/voXiPedGSWH+4b89bMpZP2IU7D1RwltsjhTnvTlGd9DGovK9KTxTliww2j2XrBb/FTvhPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAEQIq6wTBD+25G/BfPITQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/BBOsqwhEAEdALf+7aTDiXWWMB2ZfcmFuZ2WUXZQoR0FIPYkDDDAAR0FIeLRLqwAAZYwCZGOUSw91Lg==
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
